
body {
    margin: 0;
    background-color: #111;
    color: #333;
    font-size: large;
    font-family:sans-serif;
}

.naslov {
  letter-spacing: 3px;
  padding-top: 3px;
}

#button {
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #999;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 10px #333;
  background-image: url("123.jpg");
}


h1 {
    text-align: center;
    transition: 1s;
}

h1:hover {
  color: white;
}


header {
    display: flex;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    border-bottom: 2px solid gray;
    box-shadow: 0px 0px 20px 20px black;
    background-image: url("123.jpg");
    transition: 1s;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}


#aboutme {
  border-radius: 30px 10px 30px 10px;
  border: 3px solid #555;
  width: 80%;
  transition: 1s;
  box-shadow: 0px 0px 20px 20px black;
  background-image: url("12.jpg");
  padding: 20px;
  padding-top: 0px;
}

p {
  transition: 1s;
}

#ama {
  color: #999;
  float: right;
  padding: 10px;
  margin-top: 7px;
  text-decoration: none;
  transition: 1s;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0px 0px 3px 3px #888;
}



#aboutme2 {
  border-radius: 30px 10px 30px 10px;
  border: 3px solid #555;
  width: 80%;
  transition: 1s;
  box-shadow: 0px 0px 20px 20px black;
  background-image: url("12.jpg");
  padding: 20px;
  padding-top: 0px;
}

hr {
  box-shadow: 0px 0px 10px 10px #333;
}


.box {
    background-image: url("1.jpg");
    border: 2px #222 solid;
    width: 350px;
    height: 270px;
    border-radius: 5px 5px 20px 20px;
    border-bottom: 3px solid gray;
    box-shadow: 0px 10px 10px 10px black;
    display: inline-block;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.links {
  width: 90%;
  justify-content: center;
}
.linkh {
    margin-top: 5px;
    margin-bottom: 15px;
    text-shadow: 0px 10px 10px #555;
}

.linkimg {
    height: 160px;
    width: 280px;
    transition: 1s;
    border-radius: 5px 5px 20px 20px;
    margin: 0;
    margin-top: 10px;
    box-shadow: 0px 0px 20px 20px black;
}



.linkimg:hover {
    height: 180px;
    width: 310px;
}





/* Footer */


  
  .cr {
      border-radius: 15px 15px 0px 0px;
      font-size: 13px;
      height: 40px;
      padding-top: 23px;
      text-align: center;
      bottom: 0;
      margin-top: 20px;
      margin-bottom: 0;
      background-color: #222;

  }


/* Phone View */

@media only screen and (max-width: 1000px) {
   header {
     height: 50px;
   }

   .naslov  {
     margin: 0;
     margin-top: 5px;
     font-size: 30px;
   }

   .box {
     width: 90%;
     height: 280px;
     margin-right: 0;
     margin-left: 0;
     
     
   }

   .linkimg {
     width: 260px;
   }

   .links {
     display: block;
   }
}